#board{
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
}

.square{
  display: flex;
  width: 100px;
  height: 100px;
  background-color: aqua;
  border: 2px solid black;
  justify-content: center;
  align-items: center;
}

.piece{
  font-size: 50px;
}